@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 600;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: 600;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 600;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 600;
}

.active {
  text-align: center;
  color: rgba(0, 133, 255, 1);
  background: rgba(0, 133, 255, 0.25);
}
.not-active{
  background-color: #F9F9F9;
}